* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
section {
  margin-right: 0%;
}
:root {
  --mainColor: #000000;
  --secondaryColor: #a9ff1c;
  --borderColor: #a9ff1c;
  --mainText: #a9ff1c;
  --secondaryText: #a9ff1c;
  --themeDotBorder: #24292e;
  --previewBg: rgba(44, 44, 43, 0.8);
  --previewShadow: #212422;
  --buttonColor: #a9ff1c;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
}
hr {
  min-height: 1.5px;
  background-color: var(--borderColor);
  border: none;
}

body {
  background-color: var(--mainColor);
  color: var(--secondaryText);
 font-family: 'Space Grotesk', sans-serif;
  scroll-behavior: smooth;
}
/* nav bar styles are START here */
nav {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
  position: fixed;
  top: 0;
}


nav .left {
  color:var(--previewShadow);
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 30px;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 2rem;
}

nav ul li a , .left>a{
  text-decoration: none;
  color: var(--previewShadow);
  font-weight: 700;
}

nav  a:hover {
  scale: 1.05;
  color: var(--secondaryText);
}

.toggle-button{
  color: var(--previewShadow);
  font-size: 1.8rem;
  cursor: pointer;
  display: none;
  margin-right: 6rem;
}
.dropdown-menu{
  display: none;
  position:absolute ;
  right: 2rem;
  top:60px ;
  width: auto;
  height: 0;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.open{
  height: auto;
}
.dropdown-menu li {
   list-style: none;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0.7rem;
  margin: 0 2rem;
}
.dropdown-menu li a{
  text-decoration: none;
  color: var(--secondaryColor);
  font-weight: 700;
}
.dropdown-menu  a:hover {
  scale: 1.05;
}

/* nav bar styles are END here */

/* home section styles are defined here  */
.home {
  display: flex;
  background-color: var(--previewShadow);
  justify-content: space-around;
  margin: 6% 2% 0% 2%;
  align-items: center;
  min-height: 50vh;
  border: 2px double var(--borderColor);
}

.leftsection {
  font-size: 2rem;
  width: 30%;
  margin: auto;
}
.text-container {
  display: inline-block;
  position: relative;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 30px;
}

.cursor {
  position: absolute;
  display: inline-block;
  width: 2px;
  height: 30px;
  background-color: var(--secondaryColor);
  animation: blink 0.8s infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.rightsection {
  
  margin: 3% auto;
  width: fit-content;
  border: 2px double var(--borderColor);
}
.rightsection img {
  display: block;
  border-radius: 50%;
  margin: 5px 10px;
  height: 320px;
  width: 320px;
  object-fit: cover;
  border: 2px solid var(--borderColor);
}
/* themes section */

.chg-theme {
  text-align: center;
  line-height: 2;
  color: var(--mainText);
}

#theme-options-wrapper {
  display: flex;
  justify-content: center;
}

.theme-dot {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin: 5px;
  border: 2px solid var(--borderColor);
  cursor: pointer;
}

.theme-dot:hover {
  border-width: 5px;
}

#dark-mode {
  background-color: #000000;
}

#blue-mode {
  background-color: #192734;
}

#green-mode {
  background-color: #78866b;
}

#purple-mode {
  background-color: #7e4c74;
}

.theme-note {
  text-align: center;
  font-size: small;
}

/* themes section */

/* home section styles are END here  */

/* ABOUT section styles are START here  */
.about {
  min-height: 20vh;
  text-align: justify;
  margin: 5px;
}
.abouttext {
  margin:1.5em;
  border-radius: 13px;
  padding: 10px;
  background-color: var(--previewShadow);
  font-size: larger;
}
.center-div {
  display: flex;
  place-content: center;
}
.resume {
  color: black;
  font-size: larger;
  width: 150px;
  border-radius: 13px;
  background-color: var(--buttonColor);
  text-decoration: none;
  padding: 5px 5px;
  margin: 10px;
  text-align: center;
  transition: border-radius 1s;
}
.resume:hover {
  color: #7eeaff;
  border-radius: 0%;
}
/* ABOUT section styles are END here  */

/* education section styles START  */

.education {
  min-height: 30vh;
}

table {
  font-family: 'Space Grotesk', sans-serif;
  border-collapse: collapse;
  width: 90%;
  font-size: larger;
  margin: 1rem;
}

td,
th {
  border: 1px solid var(--borderColor);
  text-align: left;
  padding: 8px;
}
.skills {
  min-height: 10vh;
  margin: auto;
}
.skills h2,p{
  margin-left: 5%;
}
.languages {
  display: flex;
  justify-content: space-evenly;
  border-radius: 15px;
  padding: 20px;
  margin: 30px;
  background-color: var(--previewShadow);
  font-size: 1.3rem;
}
.languages ul li {
  list-style: none;
}

/* education section styles END  */
/* projects section styles START  */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: var(--previewShadow);
}
.project {
  width: 35vw;
  margin-top: 10px;
  border: 2px double var(--borderColor);
}
.project img {
  width: 35vw;
  min-height: 35vh;
  align-items: center;
}
.project-des {
  margin: 1rem;
  text-align: justify;
}

.proj-link {
  color: black;
  font-size: medium;
  width: 150px;
  border-radius: 13px;
  background-color: var(--buttonColor);
  text-decoration: none;
  padding: 5px 5px;
  margin: 10px;
  text-align: center;
  transition: border-radius 1s;
}
.proj-link:hover {
  color: #266d7b;
  border-radius: 0%;
}
/* projects section styles END  */


footer {
  background-color: var(--previewBg);
  padding: 20px;
  color: var(--mainText);
  text-align: center;
}

.social-icons {
  margin-bottom: 20px;
}

.social-icons a {
  display: inline-block;
  margin-right: 20px;
  color: var(--buttonColor);
  font-size: 50px;
  border-radius: 10px;
  text-decoration: none;
  transition: border 1s;
}
.social-icons a:hover {
  border: 2px double var(--borderColor);
}

footer p {
  margin: 0;
  font-size: 20px;
}

@media (max-width: 600px) {
 
  .home {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 23vh;
    grid-gap: 20px;
    min-height: 73vh;
    margin-top: 15%;
  }
  .leftsection {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.8rem;
  }
  .rightsection {
    margin: auto;
  }

  .text-container {
    font-family: sans-serif;
    display: inline-block;
    margin: 0 auto;
    padding: 3px;
    font-size: 1.8rem;
  }
  .resume {
    margin: auto;
  }
  .education {
    margin: auto 100px;
  }
  .projects {
    display: grid;
    margin: auto;
  }
  .project,
  .project img {
    width: 85vw;
  }
}

@media (max-width: 773px) {
 nav .right ul{
    display: none;
  }
 .toggle-button{
  display: block;

 }
 .dropdown-menu{
  display: block;
 }
}