.text-container {
  display: inline-block;
  position: relative;
  font-family: sans-serif;
  font-size: 30px;
}

.cursor {
  position: absolute;
  display: inline-block;
  width: 2px;
  height: 30px;
  background-color: #a9ff1c;
  animation: blink 0.8s infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
