footer {
  background-color: #222222;
  padding: 20px;
  color: #a9ff1c;
  text-align: center;
}

.social-icons {
  margin-bottom: 20px;
}

.social-icons a {
  display: inline-block;
  margin-right: 20px;
  color: #a9ff1c;
  font-size: 50px;

  text-decoration: none;
}

footer p {
  margin: 0;
  font-size: 20px;
}
